<!DOCTYPE html>{% load static %}
<html>
	<head>
        <meta charset="UTF-8">
	    <!-- <title></title> -->
	    <title>Claim check</title>
        <link rel="stylesheet" href="{% static "style.css" %}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    </head>
    <body>
    <div class="container">
<h1>Which sentence is a claim?</h1>
<section style="margin-top: 5%;margin-right: 10%;margin-left: 10%">
<div>
  <input type="radio" id="control_01" name="select" value="1" checked>
  <label for="control_01">
    <!--<h2>Sentence 1</h2>-->
    <p style="margin-top: 5%">Awww, poor baby. Too afraid of the scary game sprites? I laugh at you.</p>
  </label>
</div>
<div>
  <input type="radio" id="control_02" name="select" value="2">
  <label for="control_02">
    <!--<h2>Sentence 2</h2>-->
    <p style="margin-top: 5%">You're not a gaming God by any stretch of the imagination.</p>
  </label>
</div>
<!--
<div>
  <input type="radio" id="control_04" name="select" value="4" disabled>
  <label for="control_04">
    <h2>Mental</h2>
    <p>Prepare for glory! This is going to be one hell of a no-holds-barred ride.</p>
  </label>
</div>
<div>
  <input type="radio" id="control_05" name="select" value="5">
  <label for="control_05">
    <h2>Suicidal</h2>
    <p>You will not live. Strap in and write a heart-felt letter to your loved ones.</p>
  </label>
</div> -->
</section>
        <div class="cont">
            <button class="btn">Submit</button>

    </div>
    </div>
	</body>
</html>